.container{
  background: url("/assets/images/home_beach.jpg") no-repeat;
  height: 100vh;
}
.book-now-container {
  padding: 35px 115px;
}

.book-now-button {
  width: 170px;
  color: white;
  border: 2px solid white !important;
  text-transform: uppercase;
  border-radius: 4px;
}

.header-container {
  height: 100vh;
}


