<div class="navtabs-container">
  <nav mat-tab-nav-bar fxFlex fxLayout fxLayoutAlign="center center">
    <span class="toolbar-flex"></span>
    <a mat-tab-link routerLink="/"
       routerLinkActive #home="routerLinkActive"
       [active]="home.isActive">
      Home
    </a>
    <a mat-tab-link routerLink="/accomodation"
       routerLinkActive #accomodation="routerLinkActive"
       [active]="accomodation.isActive">
      Accomodation
    </a>
    <a mat-tab-link routerLink="/offers"
       routerLinkActive #offers="routerLinkActive"
       [active]="offers.isActive">
      Offers
    </a>
    <a mat-tab-link routerLink="/weddings"
       routerLinkActive #weddings="routerLinkActive"
       [active]="weddings.isActive">
      Weddings
    </a>
    <a mat-tab-link routerLink="/celebrations"
       routerLinkActive #celebrations="routerLinkActive"
       [active]="celebrations.isActive">
      Celebrations
    </a>
    <a mat-tab-link routerLink="/lifestyle"
       routerLinkActive #lifestyle="routerLinkActive"
       [active]="lifestyle.isActive">
      Lifestyle
    </a>
    <a mat-tab-link routerLink="/food-and-beverages"
       routerLinkActive #foodandbeverages="routerLinkActive"
       [active]="foodandbeverages.isActive">
      Food and Beverages
    </a>
    <span class="toolbar-flex"></span>
  </nav>
</div>

